header {
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

main {
    background-color: hsl(218, 28%, 13%);
}

footer {
    background-color: hsl(216, 53%, 9%);
}

.testimonials {
    background-color: hsl(219, 30%, 18%);
}

.error {
    background-color: hsl(0, 100%, 63%);
}

body {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400, 700;
}

h1, h2, h3, nav, span{
    font-family: 'Raleway', sans-serif;
    font-weight: 400, 700;
    color: hsl(0, 0%, 100%);
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand img {
    height: 50px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: hsl(0, 0%, 80%);
}

.GetStarted {
    background-size: cover;
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        margin-left: 0;
        width: 100%;
    }
    .nav-link {
        padding: 10px;
        display: block;
        width: 100%;
        text-align: left;
    }
}
.bgimage {
    background-size: cover;
    background-position: center;
    padding: 80px;
    /* Default for mobile */
    background-image: url('https://res.cloudinary.com/dza5zabib/image/upload/v1722899194/bg-curvy-mobile_yfircm.svg');
}

/* Media query for desktop */
@media (min-width: 768px) {
    .bgimage {
        background-image: url('https://res.cloudinary.com/dza5zabib/image/upload/v1722899194/bg-curvy-desktop_cy0ngt.svg');
    }
}

.section {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.cardbg {
    background-image: url('https://res.cloudinary.com/dza5zabib/image/upload/v1722899195/bg-quotes_usmv89.png');
    padding: 30px;
    background-size: 50px;
    background-repeat: no-repeat;
    margin: 5% 10%;
}

.imgform {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
}

.cardcbg{
    background-color: #21293C;
    color: white;
    padding: 10px;
    align-items: center;
}
.gatcard{
    background-color: #1B212F;
    background: #1B212F;
    color: white;
    padding: 10px;
    align-items: center;
    margin: 10px;
    size: 50rem;
}